 /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


#Logo{
  display: block;
  margin-top:15px;
  margin-left: 40%;
  z-index:1;
  position: fixed;

}


#navIcon {
  margin-top:60px;
  font-size:40px;
  cursor:pointer;
  color:white;
  margin-left: 40px;
  z-index:1;
  position: fixed;
}


#mapInfo{
  margin-left: 10%
}

#mapInfo p{
  font-family: "Roboto", Times;
}

#mapInfo input{
  margin-bottom: 5px;
  padding: 5px;
  font-family: "Roboto", Times;
  font-size: 14px;
}

#mapInfo button{
  margin-top: 20px;
  margin-left: -10%;
  width: 90%;
}



#mapButs{
  margin-top:40%;
}

#mapButs button{
  width:80%;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}


.sidenav h2{
    font-size: 28px;
    font-family: "Lobster", Times;

}

#alterTitle {
  margin-left:10%;
}

.sidenav button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin: 5px

}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}









